{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="site-about-wrapper">
            <div class="site-about-description">
              <p>
                In Europe, 80% of the mid- to large size shops are equipped with a video surveillance system. Yet the effectiveness of such systems to detect a shoplifting action is low as the monitors can not be watched continuously. Even in well equipped control centres, a trained operator will have to watch more than 10 screens at a time, making it difficult to detect a shoplifting action which last only a few seconds. Our system detects in real time suspicious actions and generates alerts with a replay of the detected action. A higher detection rate and a lower shrinkage as a result.              
              </p>
              <a href="/solution" class="btn btn-secondary" style="margin-top: 2rem;">
                <span class="btn-area">
                  <span data-text="Learn more">
                    Learn more
                  </span>
                </span>
              </a>
            </div>
            <div class="site-about-company">
              <img src="images/projects/security.jpg" alt="security" style="width: 400px; height: 250px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}