{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
        <div class="col-12">
          <div class="site-about-wrapper">
            <div class="site-about-description">
              <p>
                Using state of the art artificial intelligence to detect shoplifters, we send automatic alerts to the store responsible in real-time. Dektiv reduces shoplifting, security costs and bias.
              </p>
              <a href="/solution" class="btn btn-secondary" style="margin-top: 2rem;">
                <span class="btn-area">
                  <span data-text="Learn more">
                    Learn more
                  </span>
                </span>
              </a>
            </div>
            <div class="site-about-company">
              <img src="images/projects/shoplifting.png" alt="shoplifting">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}